.estore-container {
    // padding: 4rem 1.6rem;
    font: 400 20px 'Plus Jakarta Sans';
    
    h2 {
      font-weight: 700;
      font-size: 32px;
      line-height: 40px;
      text-align: center;
      text-transform: capitalize;
      color: #272343;
      margin-bottom: 0.8rem;
    }
    & > p {
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      color: #2d334a;
      margin-bottom: 3.2rem;
    }

    section.askquestions {
        padding: 5rem 8rem;
        background-color: #d4d3d3;
        .big-title {
            padding: 15px;
            h2 {
                font-size: 4rem;
                font-weight: 300;
                line-height: 1.2;
                text-align: center;
                text-transform: capitalize;
                color: #272343;
                margin-bottom: 0.8rem;
            }
        }
        .before-the-row {
            background-color: #fff;
            .row {
                display: flex;
                flex-direction: column;
                padding: .75rem 2rem;
                background-color: rgba(0, 0, 0, .03);
                border-bottom: 1px solid rgba(0, 0, 0, .125);
                .home {
                    padding: 1.5rem;
                    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
                    width: 100%;
                    button {
                        background-color: #007bff;
                        color: #e4e2e2;
                        padding: 1.3rem;
                        width: 100%;
                    }
                }
                .real-section {
                    display: flex;
                    flex-direction: column;
                    gap: 3rem;
                    .welcome {
                        margin-top: 3rem;
                    }
                }
                
            }
        }
    }
}


